iframe {
    width: 100%;
    min-height: 100vh;
}
body {
    overflow: hidden;
}
.View__header {
    display: none;
}
.Panel__in {
    padding: 0 !important;
}
#feed .footer {
    display: none !important;
}
.Panel__in-before+.Group--android, .PullToRefresh__content>.Group--android:first-child {
    padding-top: 0 !important;
}
.Cell__children {
    font-size: 13px;
}
